#Variabel & Tipe Data

##Variabel

**Variables:**  Lokasi penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.

Syarat-syarat penamaan variabel
1. Karaktek-karakter yang digunakan untuk penamaan variable adalah alphabet, angka, dan underscore.
2. Karakter pertama variable harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka.
3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari baasa python seperti for, if, dan lainnya.
4. Karakter pada nama variabel bersifat sensitif (case-sensitif).

In [1]:
# membuat variabel
kalimat = 'ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

In [2]:
# menampilkan variabel
print (kalimat)
print (bilangan1)
print (bilangan2)

ini adalah variabel
4
2.5

**Latihan 1**

In [14]:
# Buatlah 5 variabel kalian sendiri dengan 5 macam tipe data lalu tampilkan variabel menggunakan fungsi print

#Membuat variabel
var1 = 'happy world'
var2 = 7
var3 = 0.3
var4 = False
var5 = 5j+4

#Menampilkan variabel
print(var1)
print(var2)
print(var3)
print(var4)
print(var5)

happy world
7
0.3
False
(4+5j)

##Tipe Data

5 tipe data yaitu:
1. Integer atau bilangan bulat
2. Float atau bilangan desimal
3. String atau kalimat
4. Boolean yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [19]:
# menampilkan tipe data
print(type(kalimat)) 
print(type(bilangan1)) 
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

**Latihan 2**

In [15]:
# Cek tipe data variabel yang telah kalian buat pada latihan 1
print(type(var1)) 
print(type(var2)) 
print(type(var3))
print(type(var4))
print(type(var5))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

##Konversi Tipe Data

Syntax konversi tipe data:
1. Integer = int()
2. Float = float()
3. String = str()
4. Boolean = bool()
5. Complex = Complex()

In [4]:
# konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

2
1

In [5]:
# konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

4.0
1.0

In [6]:
# konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

4
2.5
True

In [7]:
# konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

True
True

In [8]:
# konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

(4+0j)
(2.5+0j)
(1+0j)

**Latihan 3**

In [18]:
# Konversi tipe data variabel yang telah kalian buat menjadi berbagai macam tipe data

print('konversi tipe data integer')
print(int(var3))
print(int(var4))
print(' ')

print('konversi tipe data float')
print(float(var2))
print(float(var4))
print(' ')

print('konversi tipe data string')
print(str(var2))
print(str(var3))
print(str(var4))
print(' ')

print('konversi tipe data bool')
print(bool(var2))
print(bool(var3))
print(' ')

print('konversi tipe data complex')
print(complex(var2))
print(complex(var3))
print(complex(var4))

konversi tipe data integer
0
0

konversi tipe data float
7.0
0.0

konversi tipe data string
7
0.3
False

konversi tipe data bool
True
True

konversi tipe data complex
(7+0j)
(0.3+0j)
0j