#Struktur Data Tuple

Tuple adalah jenis dari struktur yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan koma.

In [1]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("Ini adalah tuple", T1)

Ini adalah tuple (1, 'dua', True, (1+2j))

In [2]:
#Menampilkan tipe struktur data
type(T1)

tuple

**Latihan 1**

In [12]:
#Buatlah tuplemu sendiri
Tuple1 = ("bisa", "di", 22, True)
print("Contoh tuple seperti ini:", Tuple1)
print("Type struktur datanya:", type(Tuple1))

Contoh tuple seperti ini: ('bisa', 'di', 22, True)
Type struktur datanya: <class 'tuple'>

##Sifat-sifat Tuple

In [5]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [7]:
#Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [9]:
#Dapat Diindeks/Slicing
print("elemen kedua dari tuple T1 adalah:", T1[1])

elemen kedua dari tuple T1 adalah: dua

In [10]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

##Menggabungkan Tuple

In [11]:
#Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

**Latihan 2**

In [14]:
#Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat
Tuple2 = (4.0, 2023, 10+2j)

Tuple3 = Tuple1 + Tuple2
Tuple3

('bisa', 'di', 22, True, 4.0, 2023, (10+2j))