#Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:

a. ```list()``` : untuk mengubah menjadi list

b. ```tuple()``` : untuk mengubah menjadi tuple

c. ```set()``` : untuk mengubah menjadi set

d. ```dict()``` : untuk mengubah menjadi dictionary

###Mengkonversi Tipe Data List:

In [2]:
#Membuat 2 list
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

In [3]:
#Mengkonversi Struktur Data List
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1, L2))

#Melihat Data yang Telah Dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

###Mengkonversi Tipe Data Tuple:

In [4]:
#Membuat Dua Tuple
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [6]:
#Mengkonversi Struktur Data Tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1, T2))

#Melihat Data yang Telah Dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

###Mengkonversi Tipe Data Set:

In [7]:
#Membuat dua set
S1 = {1, 2, 3, 4}
S2 = {5, 6, 7, 8}

In [8]:
#Mengkonversi Struktur Data Set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1, S2))

#Melihat Data yang Telah Dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

###Mengkonversi Tipe Data Dictionary:

In [9]:
#Membuat Dictionary
D = {
    "nama": "Andi",
    "alamat" : "Yogyakarta",
    "umur": 20
}

In [11]:
#Mengkonversi Struktur Data Dictionary dari Key dan Value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())

#Melihat Data yang Telah Dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'umur', 'nama', 'alamat'}

**Latihan**

In [14]:
#Lakukan konversi struktur data yang kalian buat pada notebook-notebook sebelumnya menjadi list, tuple, set, dan dictionary (masing-masing satu)

#Mengkonversi Tipe Data List menjadi Tuple
L3 = [0.2, 25, "tiga", 0.35]
L4 = ["kalimat", 4+5j, 2]

k_tuple = tuple(L3)

print(k_tuple)

(0.2, 25, 'tiga', 0.35)

In [15]:
#Mengkonversi Tipe Data Tuple menjadi Set
T3 = ("bisa", "di", 22, True)
T4 = (4.0, 2023,False, 10+2j)

k_set = set(T4)

print(k_set)

{False, 4.0, (10+2j), 2023}

In [24]:
#Mengkonversi Tipe Data Set menjadi Dictionary
S3 = {'Angka Favorit', 'Minuman favorit', 'Makanan Favorit'}
S4 = {9, 'Jus Alpukat', 'Mie Ayam'}

k_dict = dict(zip(S3, S4))

print(k_dict)

{'Makanan Favorit': 'Mie Ayam', 'Angka Favorit': 9, 'Minuman favorit': 'Jus Alpukat'}

In [20]:
#Mengkonversi Tipe Data Dictionary menjadi List
D2 = {5:'pejuang', 'data':0, True:'sains'}

k_list = list(D2.keys())

print(k_list)

[5, 'data', True]