#Looping/Perulangan

Python menyediakan dua statement untuk melakukan proses perulangan yaitu for dan while. Diantara kedua statement ini, secara umum for lebih banyak digunakan daripada while.

###For Loop

Perulangan `for` digunakan untuk melakukan iterasi di dalam `sequence` seperti `list`, `tuple`, `string`, dan `array` atau objek yang dapat diiterasi lainnya.

For Loop Syntax

In [ ]:
for val in sequence:
  loop body

For Loop Flowchart

![loop flowchart.jpg]()

Example: Python for Loop

In [ ]:
# Program untuk menghitung jumlah semua angka dalam sebuah list
L1 = [2, 4, 5, 7, 9]
jumlah = 0

# iterasi di dalam list
for i in L1:
  jumlah = jumlah + i

print(jumlah)

27

**The range() function**

In [ ]:
# Program untuk melakukan iterasi di dalam list melalui indeks
minuman = ["teh", "boba", "kopi", "susu"]
p = len(minuman)

# iterasi di dalam list melalui indeks
for i in range(p):
  print(minuman[i])

teh
boba
kopi
susu

for loop with else

In [ ]:
#Contoh for Loop menggunakan else
for i in range(p):
  print(minuman[i])
else:
  print("Elemen sudah habis")

teh
boba
kopi
susu
Elemen sudah habis

###Latihan 1

Diberikan `list_tagihan`. Kamu diminta untuk menghitung jumlah seluruh tagihan. Gunakan `for` untuk menyelesaikan tugas ini! Simpan hasilnya pada variabel `total_tagihan`

In [1]:
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]

In [2]:
# tuliskan kode kalian

list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
jumlah = 0

# iterasi di dalam list
for i in list_tagihan:
  jumlah = jumlah + i

total_tagihan = jumlah
print("Total tagihan sebanyak: ", total_tagihan)

Total tagihan sebanyak:  550000

###**While Loop**

While loop pada Python digunakan untuk melakukan iterasi pada blok kode selama nilai dari `test expression` adalah `true`.

Syntax of while Loop in Python

In [ ]:
while test_expression:
  Body of while

While Loop Flowchart

![whileLoopFlowchart.jpg]()

Example: Python While Loop

In [ ]:
# Program untuk menjumlahkan semua bilangan asli hingga suku ke-n
# jum = 1+2+3+...+n

n = 10
jumlah = 0
i = 1

while i <= n:
  jumlah = jumlah + i
  i = i + 1

print(jumlah)

55

###**While Loop with Else**

Sama dengan `for` loop kita juga dapat mengkombinasikan `while` loop dengan blok `else`.

Bagian `else` akan dieksekusi jika nilai pada `test expression` pada `while loop` bernilai `False`. Perhatikan contoh berikut:

In [ ]:
jum = 0 
i = 1
while i <= n:
  jum = jum + i
  i = i + 1
else:
  print(jum) # dieksekusi diluar looping

55

###Latihan 2

Diberikan list `tagihan` hitunglah `total_tagihan` menggunakan `while loop`.

In [ ]:
tagihan = [50000, 75000, 125000, 300000, 200000]

In [3]:
# Tuliskan kodemu
tagihan = [50000, 75000, 125000, 300000, 200000]
p = len(tagihan)
total_tagihan = 0 
i = 0

while i < p:
  total_tagihan += tagihan [i]
  i = i + 1

print(total_tagihan)

750000